@import '../../node_modules/platypusui/dist/platypus';

@import '../src/viewcontrols/about/about.vc.less';
@import '../src/viewcontrols/home/home.vc.less';
@import '../src/viewcontrols/howtoplay/howtoplay.vc.less';
@import '../src/viewcontrols/promotions/promotions.vc.less';

* {
    box-sizing: border-box;
}

@font-face {
	font-family: 'Roboto BoldCondensed';
	src: url("/fonts/Roboto-BoldCondensed.otf") format("opentype"),
	     url("/fonts/Roboto-BoldCondensed.woff") format("woff"),
	     url("/fonts/Roboto-BoldCondensed.ttf") format("truetype");
}

@font-face {
	font-family: 'Roboto Condensed';
	src: url("/fonts/Roboto-Condensed.otf") format("opentype"),
	     url("/fonts/Roboto-Condensed.woff") format("woff"),
	     url("/fonts/Roboto-Condensed.ttf") format("truetype");
}

@font-face {
	font-family: 'Work Sans Regular';
	src: url("/fonts/WorkSans-Regular.otf") format("opentype"),
	     url("/fonts/WorkSans-Regular.woff") format("woff"),
	     url("/fonts/WorkSans-Regular.ttf") format("truetype");
}

@font-face {
	font-family: 'Work Sans ExtraBold';
	src: url("/fonts/WorkSans-ExtraBold.otf") format("opentype"),
	     url("/fonts/WorkSans-ExtraBold.woff") format("woff"),
	     url("/fonts/WorkSans-ExtraBold.ttf") format("truetype");
}

@font-face {
	font-family: 'Work Sans ExtraLight';
	src: url("/fonts/WorkSans-ExtraLight.otf") format("opentype"),
	     url("/fonts/WorkSans-ExtraLight.woff") format("woff"),
	     url("/fonts/WorkSans-ExtraLight.ttf") format("truetype");
}

@font-face {
	font-family: 'Work Sans SemiBold';
	src: url("/fonts/WorkSans-SemiBold.otf") format("opentype"),
	     url("/fonts/WorkSans-SemiBold.woff") format("woff"),
	     url("/fonts/WorkSans-SemiBold.ttf") format("truetype");
}

body {
    font-family: "Work Sans Regular";
}

.blur {
    filter: blur(10px);
    -webkit-filter: blur(10px);
}

#mobile-menu {
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: rgba(24,25,53,0.7);
    z-index: 200;
    text-align: center;
    color: white;
    font-family: "Work Sans ExtraBold";
    
    #close {
        display: block;
        width: 1.7em;
        height: 1.7em;
        font-size: 2.7em;
        font-family: sans-serif;
        text-align: center;
        position: absolute;
        right: 0;
        padding-top: 0.2em;
    }
    
    #close:after {
        content: '\d7';
    }
    
    .logo {
        height: 3.8em;
        margin-top: 3.2em;
        margin-bottom: 1.7em;
    }
    
    a {
        color: white;
        text-transform: uppercase;
        display: block;
        font-size: 2.1em;
        padding: 0.6em 0em;
    }
    
    a.social {
        display: inline;
        
        img {
            margin-top: 1.1em;
            margin-left: 0.9em;
            margin-right: 0.9em;
            height: 1em;
        }
    }
}

@nav-height: 5.65em;
@nav-mobile-height: 4.5em;
@nav-font-size: 1.2em;
@footer-text-color: #384d68;
@hamburger-line-length: 2.2em;

#nav {
    height: @nav-height;
    padding-left: 2em;
    position: fixed;
    z-index: 100;
    background-color: white;
    width: 100%;
    line-height: @nav-height;
    
    #logo {
        display: inline-block;
        line-height: @nav-height;
        // float: left;
        width: 11.5em;
        height: 2.6em;
        background-image: url('/images/logo-color.svg');
        background-size: contain;
        background-repeat: no-repeat;
        vertical-align: middle;
    }
    
    #hamburger {
        display: none;
    }
    
    ul {
        float: right;
        padding: 0;
        padding-right: 1em;
        margin: 0;

        li {
            list-style-image: none;
            display: inline-block;
            height: @nav-height;
            padding-left: 1.9em;
            padding-right: 1.9em;
            line-height: @nav-height;
            
            a {
                vertical-align: middle;
                text-transform: uppercase;
                color: #bbb;
                font-family: "Work Sans SemiBold";
                font-size: @nav-font-size;
            }
        }
    }
    
    #social {
        display: block;
        line-height: @nav-height;
        background-color: #eee;
        float: right;
        width: 10em;
        text-align: center;
        
        a {
            margin: 1em;
            
            img {
                height: 1.5em;
                max-width: 1.5em;
                vertical-align: middle;
            } 
        }
    }
}

#footer {
    color: @footer-text-color;
    text-align: center;
    text-transform: uppercase;
    font-family: "Work Sans SemiBold";
    font-size: @nav-font-size;
    display: block;
    clear: both;
    
    .nav-button {
        background-color: #35b995;
        color: white;
    }
    
    #top {
        background-color: #1c202b;
        min-height: 10.3em;
        line-height: 10.3em;
        vertical-align: middle;
        
        #left {
            height: 10.3em;
            position: relative;
            
            #logos {
                line-height: 1em;
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                
                .logo {
                    height: 4.2em;
                    margin-bottom: 0.6em;
                }
                
                .social {
                    max-height: 1.6em;
                    max-width: 1.6em;
                    margin: 0em 0.4em;
                }
            }
        }
        
        #center {
            line-height: 1em;
            position: relative;
            height: 10.3em;
            text-align: right;
            
            #page-links {
                display: inline-block;
                position: absolute;
                top: 50%;
                transform: translate(-20em, -50%);
                width: 20em;
                
                a {
                    color: @footer-text-color;
                    display: block;
                    min-width: 7em;
                    text-align: left;
                    padding: 0.7em 0em;
                }
                
                .page-links-left {
                    float: right;
                    border-right: 0.15em solid @footer-text-color;
                    
                    a {
                        padding-right: 2em;
                    }
                }
                
                .page-links-right {
                    float: right;
                    
                    a {
                        padding-left: 2em;
                    }
                }
            }
        }
        
        #right {
            min-height: 10.3em;
            position: relative;
            
            .nav-button {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
            }

        }
    }
    
    #bottom {
        background-color: #111119;
        padding: 0em;
        
        div {
            padding: 1em 0em;
        }
    }
}

#vp {
    display: block;
    clear: both;
    height: auto;
}

.nav-button {
    display: inline-block;
    width: 11.9em;
    height: 3.1em;
    line-height: 3.1em;
    font-family: "Roboto Condensed";
    letter-spacing: 0.15em;
    border-radius: 0.4em;
    text-align: center;
    text-transform: uppercase;
}

@media (max-width: 960px) {
    #nav {
        background-color: transparent;
        height: @nav-mobile-height;
        line-height: @nav-mobile-height;
        
        #logo {
            background-image: url('/images/coversharks-mark-white.svg');
            width: 3.5em;
            line-height: @nav-mobile-height;
        }
        
        ul, #social {
            display: none;
        }
        
        #hamburger {
            height: @nav-mobile-height;
            display: block;
            float: right;
            text-align: center;
            position: relative;
            width: @hamburger-line-length;
            margin-right: 1.7em;
            
            #bars {
                width: @hamburger-line-length;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
            
                .bar {
                    display: block;
                    background-color: white;
                    border-top: 0.2em solid white;
                    width: @hamburger-line-length;
                    margin: 0.6em 0em;
                }
            }
        }
    }
    
    #footer #top #center #page-links {
        display: none;
    }
}

@media (max-width: 700px) {
    #footer {
        #top {
            #left {
                line-height: 0em;
                height: 8em;
            }
            
            #right {
                line-height: 0em;
                min-height: 5em;
            }
        }
        
        #bottom {
            padding: 0.4em;
            
            div {
                padding: 0.2em;
            }
        }
        
        .nav-button {
            height: 2.5em;
            line-height: 2.5em;
            width: 13em;
            font-size: 0.9em;
            margin-bottom: 1.9em;
        }
    }
}

@media (max-height: 500px) {
    #mobile-menu {
        .logo {
            display: none;
        }
        a:first-of-type {
            margin-top: 1.2em;
        }
        a {
            padding: 0.3em 0em;
            font-size: 1.7em;
        }
        a.social {
            margin-top: 0.8em;
        }
    }
    
}