& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="howtoplay-vc"] {

    }
}

#football{
    padding-top:4em;
    color:white;
    text-align: center;
    background-image:url("/images/how-to-play-hero.jpg");
    width:100%;
    height:14em;
    background-size:cover;
    background-position: center;
    
}
h2{
	font-family: 'Work Sans ExtraLight';
    font-weight: lighter;
    vertical-align: center;
}

// .navspan{
//     height:2.5em;
//     line-height:2.5em;
//     width:100%;
//     text-align: center;
//     margin-left: auto;
//     margin-right:auto;
    
// }

// ul{
//     display: inline;
//     border:2px solid black;
//    line-height:2.3em;
// }
// li{
//     display: block;
    
//     text-decoration: none;
//     list-style-type: none;
//     display:block;
//  }
 
 
.bigcontainer{
    padding: 1em 4em;
    background-color: #f3f3f8;
    text-align: center;
    width:100%;
    

    h3{
        text-align: left;
        color:gray;
        margin-left:1em;
        font-family: roboto condensed;
    }

    .video-row {
        max-width: 850px;
        margin: auto;
        padding:auto;
        text-align: center;
    }


    .box{
        background-color:white;
        width:100%;
        max-width: 15em;
        margin-left:auto;
        margin-right:auto;
        text-align: center;
        box-shadow: 0 5px 5px #888888;

        .minipic{
            width:100%;
            height:auto;
        }
        .info{
            padding-bottom:1em;
            padding-left:2em;
            // border:2px solid orange;
            text-align: center;
        
            .bluetitle{
                color: dodgerblue;
                font-style: bold;
                text-align: left;
            }
            .description{
                color:gray;
                text-align: left;
                padding-right:2em;
            }
            
        }
        .comingsoon{
            width:80%;
            height:2em;
            line-height:2em;
            background-color:black;
            color:white;
            border-radius: 5px;
            text-align: center;
            
        }
    }
}