& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {
   
       
      #div-1 {
         background-image: url('../../images/about-hero.jpg');
         padding-top: 5.65em;
          
        
            p {
                color: white;
                font-family: 'Work Sans ExtraLight';
                font-size: 3em;
                line-height: 3.7em;
                letter-spacing: 0.15em;
                text-align: center;
            }
      }
      
      #div-2 {
          
          img {
            padding-top: 4.5em;
            width: 33%; 
            padding-right: 2em;
            
          }
          
          #text-div {  
            
            #h2-1 {
                font-family: 'Work Sans ExtraBold';
                padding-top: 18%;
                margin-bottom: -0.5em;
                
            }
            
            #h3-1 { 
                font-family: 'Work Sans ExtraBold';
                color: darkgray;
                margin-bottom: 0.5em;
                padding-bottom: 0.5em;
                border-bottom: 1px solid darkgray;
            }
            #p-1 {
                font-family: 'Work Sans Regular';
            }
          }
      }
     #register-div {
         background-color: #2d86b8;
         margin-top: 2em;
         padding-bottom: 1.5em;
         
         
         #register-text {
             color: white;
             font-family: 'Roboto BoldCondensed';
             text-align: center;
         }
         
         #input {
             font-family: 'Roboto Condensed';
             background-color: white;
             border-radius: 0.5em;
             letter-spacing: 0.15em;
             font-size: 1.2em;
             width: 50%;
             padding-left: 1em;
         }
         
         #butt {
            background-color: #3a3a3c;
            color: white;
            border: none;
            width: 12em;
            padding-top: 0.9em;
            padding-bottom: 0.9em;
            font-size: 1em;
            border-radius: 0.5em;
            letter-spacing: 0.1em;
            margin-left: 1em;
         }
         
         #phn-button {
             text-align: center;
             display: none;
             margin-top: 5em;
             
             button {
                 background-color: #3a3a3c;
                 color: white;
                 border: none;
                 width: 12em;
                 padding-top: 1em;
                 padding-bottom: 1em;
                 font-size: 1.2em;
                 border-radius: 0.5em;
                 letter-spacing: 0.1em;
             }
         }
         
     }
     #team-div {
         background-color: #eeefef;
         padding-top: 2em;
         
         #head {
             color: #32ae81;
             font-family: 'Work Sans ExtraBold';
             text-align: center;
         }
             
         }
         .person {
             background-color: white;
             padding-left: 2em;
             padding-right: 2em;
             padding-bottom: 1em;
             border-radius: 0.5em;
             margin-bottom: 5em;
             
             .img-container {
                 height: 7em;
                 width: 7em;
                 position: absolute;
                 z-index: 10;
                 margin-top: -1.5em;
                 border-radius: 7em;
                 margin-left: -4em;
                 
                 img {
                     width: 100%;
                 }
             }
             
             .name {
                 position: absolute;
                 font-family: 'Work Sans ExtraBold';
                 background-color: #2d86b8;
                 text-align: center;
                 color: white;
                 margin-left: -2em;
                 margin-right: -2em;
                 border-top-left-radius: 0.5em;
                 border-top-right-radius: 0.5em;
                 z-index: 0;
                 
                 .title {
                     margin-top: -0.5em;
                 }
             }
             
             .info {
                 font-family: 'Work Sans Regular';
                 
                 .text {
                     font-size: 0.9em;
                 }
             }
         }
     }
     
     .under-text {
         font-family: 'Roboto Condensed';
         text-align: center;
         color: #97989d;
         margin-bottom: 6em;
     }
     
     .fantasy {
         color: #32ae81;
         font-family: 'Work Sans ExtraBold';
         text-align: center;
         margin-top: 1em;
         
     }   
    
}

@media (max-width: 82em) {
    #h2-1 {
        font-size: 200%;
    }
    #h3-1 {
        font-size: 150%;
    }
    #p-1 {
        font-size: 115%;
    }
}

@media (max-width: 75em) {
    #h2-1 {
        font-size: 180%;
    }
    #h3-1 {
        font-size: 130%;
    }
    #p-1 {
        font-size: 100%;
    }
}

@media (max-width: 65em) {
    #h2-1 {
        font-size: 150%;
        margin-top: 0.5em;
    }
    #h3-1 {
        font-size: 100%;
    }
    #p-1 {
        font-size: 90%;
    }
}

@media (max-width: 55em) {
    #h2-1 {
        font-size: 150%;
        margin-top: 0.8em;
    }
    #h3-1 {
        font-size: 100%;
    }
    #p-1 {
        font-size: 76%;
    }
}

@media (max-width: 50em) {
    #h2-1 {
        font-size: 125%;
    }
    #h3-1 {
        font-size: 100%;
    }
    #p-1 {
        font-size: 70%;
    }
}

@media (max-width: 46em) {
    #h2-1 {
        font-size: 125%;
    }
    #h3-1 {
        font-size: 100%;
    }
    #p-1 {
        font-size: 65%;
    }
}

@media (max-width: 43.7em) {
    #h2-1 {
        text-align: center;
        font-size: 180%
        
    }
    #h3-1 {
        text-align: center;
        margin-left: 3em;
        margin-right: 3em;
        font-size: 130%;
    }
    #p-1 {
        text-align: center;
        padding-left: 3em;
        padding-right: 3em;
        font-size: 100%;
    }
    
    #input {
        width: 90% !important;
    }
    
    #butt {
        display: block;
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }
    
    #phn-button {
        display: block !important;
    }
    
    #h2-1 {
        margin-top: -2em;
    }
    
    #div-1 {
        height: 15em;
        padding-top: 1em !important;
        background-position-y: -4em;
        background-position-x: -2em;
    }
    
}







