& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="about-vc"] {
      #div-1 {
         background-image: url('../../images/about-hero.jpg');
         background-position-y: -5.5em;
         height: 18em;  
        
            p {
                color: white;
                text-align: center;
                font-family: 'Work Sans ExtraLight';
                font-size: 3em;
                line-height: 3.7em;
                letter-spacing: 0.15em;
            }
      }
      
      #div-2 {
          
          img {
            padding-top: 4.5em; 
            
          }
          
          #h2-1 {
             font-family: 'Work Sans SemiBold';
            //  font-size: 2em;
             padding-top: 2em;
             padding-left: 1em;
          }
          
          #p-2 {
            padding-left: 1em; 
            font-family: 'Work Sans SemiBold';
 
          }
          
      }
       
    }
}
