& {
    #platui > #media;
    #platui > #mixins;
    #platui > #variables;

    [plat-control="promotions-vc"] {
        
        #div-1 {
         background-image: url('../../images/about-hero.jpg');
         padding-top: 5.65em;
         padding-right: 5em;
         padding-left: 5em;
          
        
            p {
                color: white;
                font-family: 'Work Sans ExtraLight';
                font-size: 3em;
                line-height: 3.7em;
                letter-spacing: 0.15em;
                text-align: center;
            }
      }
       
    }
}

@media (max-width: 60em) {
    #div-1 p {
        font-size: 3.5em !important;
        line-height: 1.2em !important;
        padding-top: 2.5em;
    }
    
}

@media (max-width: 43.7em) {
    #div-1 {
        padding-left: 3.0em !important;
        padding-right: 3.0em !important;
    }
    
    #div-1 p {
        font-size: 2.5em !important;
        line-height: 1.2em !important;
        padding-top: 2.5em;
    }
    
}
